@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    width: 100%;
    height: 100%;
    color: #333;

    font-size: 1em;
    font-family: "Segoe UI",sans-serif;

}
a{
     color: brown;
     text-decoration: none;
     transition: all.6s ease;
     -moz-transition: all.6s ease;
     -webkit-transition: all.6s ease;
     -ms-transition: all.6s ease;
 }
a:hover{
    color: blue;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:active{color: aqua}
img{
    max-width:100%;
    height:auto;
    width: auto\9;
    border-radius: 15px;
}
/* селешкен*/
::selection{background: brown;color: #f7f7f7}
::-moz-selection{background: brown;color: #f7f7f7}
header,footer{
    width: 98%;
    background-color: #ffffff;
    min-height: 50px;

}
header{
    border-bottom: 2px solid #ffffff;
    padding: 1%;
    border-bottom: #333333;
}
header>div#lvl2>img{
    width: 50px;
    height: 50px;
    float: left;
}
#logo {
    font-size: 2.3em;

    font-weight: lighter;

    font-family: 'Roboto Slab', serif;
}
#logo111{
    position: absolute;
    top: 30px;
    left: 6% ;
    width: 60px;

    float: left;
    display:  flex;
}
form.form1{

    width: 300px;
    margin: 0 auto;
top: 1px;
}
form.form2 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    background: #F9F0DA;

}

input.field{
    border: none;
    outline: none;
    background: transparent;
    width: 320px;
    border-bottom: 1px solid #000000;
}

input, button.field {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;


}
.but2 {
    width: 100%; /* Ширина кнопки */
    height: 25px; /* Высота кнопки */
    border: none; /* Убираем рамку */

    background-color: white;
    color: red;
    font-size: medium;
}



footer{
    padding: 1%;

    margin-top: 10px;
}
input[type="button"].but1{
    right: 100px;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 7px;
    transition: 0.2s;
    background: rgba(255, 0, 0, 0.89)

}
input[type=button].but1:hover {background: rgba(64, 0, 0, 0.77)
}
input[type=button].but1:active {background: #ff0303
}
#layer1 {
    position: relative; /* Относительное позиционирование */
    background: #f0f0f0; /* Цвет фона */
    height: 10px; /* Высота блока bottom:; */
    /*  bottom:; */
}
#layer2 {
    position: absolute; /* Абсолютное позиционирование */
    top: 25px; /* Положение от нижнего края */
    right: 10%; /* Положение от правого края */
    line-height: 1px;
}
#lvl1{
    position: absolute;
    top: 25px;
    right: 41% ;

    display:  flex;
}
#lvl2{
    position: absolute;
    top: 25px;
    left: 10% ;
    width: 50px;
    height:25px;
    float: left;
    display:  flex;

}
#lvl3 {
    position: absolute;
    top: 15px;
    left: 60%;

}
/* ШАПКА КОНЕЦ*/
.main{

    width: 100%;
    float: left;
    margin-top: 20px;

}
aside{
    float: left;
    width: 100%;
    margin-left: 2%;
    margin-top: 20px;
}
.heading{
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid #db6e6e;
    float: left;
    color: #4f4f4f;
    padding: 0px 5px;
    position:relative !important;
    left: 35% !important;
}
.headingg{
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px solid #db6e6e;
    float: left;
    color: #4f4f4f;
    padding: 0px 5px;
    position:relative !important;
    left: 37% !important;
}
.headinggg{
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;

    float: left;
    color: #4f4f4f;

    position:relative !important;
    left: 37% !important;
}
.article1{
    margin-right: 10%;
    margin-bottom: 20px;

    background-color: #fff;
    box-sizing: border-box;
    max-width: 100%;

    width: 90%;
    height: 50%;

    display: flex;
}
.article1>amg {
    flex-shrink: 0;
    margin: 10px;
    padding: 20px;
    border: 1px solid;
    width: 60%;
    height: 60%;
}

.article>span{
    font-family: serif
}
.article>h4{
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
}
.news{

    margin-left: 10%;
    width: 90%;
    float: left;

}
.section{
    padding: 20px;
   border: 1px solid;
}
#courses{

}
.novi {
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    width: 50px;
    height:25px;
    float: left;
    display:  flex;
}
.div11{
    padding: 0.4%;
}
.txx11{
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
    float: left;
    color: #4f4f4f;

    position:relative !important;

    left: 7% !important;

}
.txx1 {
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;
    float: left;
    color: #4f4f4f;
    position:relative !important;
    left: 22% !important;

}
.txx2 {
    font-weight: lighter;
    font-size: 1.4em;
    font-family: 'Roboto Slab', serif;

    float: left;
    color: #4f4f4f;

    position:relative !important;
    left: 35% !important;
}
/*эфекты картинки00000000*/
.al-c {
    display: table;
    width: 100%;
    height: 100%;
}

.container {
    padding-right:5px;
    padding-left:5px;
    margin-right:auto;
    margin-left:auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.effects {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}

.effects li {
    position: relative;
    display: inline-block;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);

    background-color: #fff;
    font: normal 14px sans-serif;
    margin: 0;

    overflow: hidden;
    font-family: 'Roboto', sans-serif;

    max-height: 50%;
}

@media (max-width:350px) {
    .effects li {
        font-size: 10px;
    }
}

.effects li img {
    display: block;
    position: relative;
    max-width:100%;
    height:400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.effects li > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.effects li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.effects li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    background: #000;
    font-size: 90%;
    transition: all 0.4s ease-in-out;
}

.effects li a:hover {
    background: #ff0000;
    color: #fff;
}

.effects li > div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.43);
    transition: all 0.4s ease-in-out;
    color: #fff;
    transform: translate(0px, -35px) rotate(0deg);
}

.effects li:hover div {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}
.img2{
    width: 200px;
    max-height: 200px;

}

/*конец эфектов каринок*/
.logo1{
    position:absolute;
    font-size: 120px;
    vertical-align: middle;
    line-height: 2;

    width:98%;
    top: -5%;
    margin-top: 1px;
    right:0;
}
.transition-fade{
    transition: .4s;
    opacity: 1;
}
html.is-animating .transition-fade{
    opacity: 0;
    transform: translateY(100px);
}
.main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 6%;

}
.section {
    padding: 15px;

    margin-bottom: 2%;
    background-color: #F2F2F2;
}
.tekst_tel{
    margin-left: 41%;
    font-size: 1.4em;
    font-weight: lighter;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1%;
}
.tekst_telz{
    margin-left: 41%;
    font-size: 1.8em;

    font-family: 'Roboto Slab', serif;
    margin-bottom: 1%;
}
.chanal{
    position: absolute;
    margin-left: 5%;
    width: 15%;

    float: left;
    display:  flex;
}

/*Footer starts*/

.div__footer {
    font-family: 'Rubik', sans-serif;
    max-width: 1440px;
    max-height: 120px;
    background: #F2F2F2;
    margin-top: 65%;
    margin-left: auto;
    margin-right: auto;
}
.div__footer1 {
    font-family: 'Rubik', sans-serif;
    max-width: 1440px;
    max-height: 120px;
    background: #F2F2F2;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.footer__logo__pic {
    padding: 28px 40px 28px 130px;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.address {
    padding: 10px 298px 79px 0;
    font-size: 16px;
    line-height: 19px;
    color: #333333;

}

.footer__address__title {
    list-style-type: none;
    padding-bottom: 6px;
}

.footer__address__href {
    list-style-type: none;
    max-width: 940px;
}

.footer__address__href a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #1F4766;
}

.channels {
    width: 90%;
    height: 70%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin-top: 27px;
}

.channel {
    display: flex;
    align-items: center;
    position: relative;
    height: 192px;
    border-radius: 8px;
    background-color: #F2F2F2;
}

.channel:not(:last-child) {
    margin-bottom: 18px;
}

.channel-logo {

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-name {
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 0 0;
}

.channel-schedule {
    padding-top: 0;
}

.channel-ul {
    list-style: none;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding-left: 0;
}

.channel-li:first-child {
    color: red;
}

.channel-li:not(:last-child) {
    margin-bottom: 12px;
}

.channel-li {
    display: flex;
    max-height: 19px;
}

p:not(:last-child) {
    margin-right: 16px;
}

ul.elastic > li {
    /* Убираем маркеры списка */
    padding-right: 16px;		/* Поля вокруг текста */

}


ul.elastic {
    list-style: none;	/* Убираем маркеры списка */
    display: flex;
    padding-left: 0;

}

.elastic li.hide {
    display: none;
}

.title .hide{
    display: none;
}
